@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header{
    margin-bottom: 10vh
}

body{
    background: rgb(248,222,126);
    background: linear-gradient(90deg, rgba(248, 222, 126, 0.751) 0%, rgba(217, 144, 88, 0.838) 100%);
    font-family: "Rubik", sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#titulo{
    font-family: "Freeman", sans-serif;
    font-size: 1.7vw;
}

section{
    text-align: center;
    width: 80vw;
    padding: 1vw;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10vh;
}

section>h1{
    font-size: 1.4vw;
}



section>h2{
    font-size: 1.4vw;
}

section>p{
    font-size: 1.2vw;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    color: white;
}

footer>div{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}