body{
    background-color: whitesmoke;
}

header{
    margin-bottom: 10vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main>div{
    background-color: white;
    padding: 1vw;
}