body{
    margin: 0;
    padding: 0;
    background: rgb(255,147,115);
    background: linear-gradient(87deg, rgba(255,147,115,1) 0%, rgba(255,215,0,1) 100%);
}

h1{
    margin: 0;
    text-align: center;
}

main{
    width: 100vw;
    display: flex;
    margin-top: 5vh;
}

section{
    margin: auto;
    width: 30vw;
    height: 70vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.358);
    overflow: hidden;
}

#icon{
    width: 10vw;
    border: 5px solid white;
    border-radius: 100%;
    background-color: white;
}

#fundo{
    background: rgb(255,220,115);

    width: 100%;
    height: 43%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fundo2{
    width: 100%;
    height: 57%;
    padding: 10px;
}

.infos{
    margin-top: 5px;
    margin-bottom: 5px;
}